<div draggable ng-show="visible" class="i19mh">
    <span ng-click="visible = false" id="close">&#x2612;</span>
    <h1 style="
        ">i19 manhole</h1>
    <header>
        View Language:
        <select ng-model="display_lang" ng-options="l for l in langs"></select>
        Edit Language:
        <select ng-model="edit_lang" ng-options="l for l in langs"></select>
    </header>
    <article ng-repeat="id in edit_ids">
        <div ng-switch on="isArray(i19dict[edit_lang][id])">
            <div ng-switch-when="false">
                ID: <b>{{id}}</b><br/>
                <span>{{display_lang}}: {{i19dict[display_lang][id]}}</span><br/>
                <textarea ng-model="i19dict[edit_lang][id]" rows="1"></textarea>
            </div>
            <div ng-switch-when="true">
                <div ng-repeat="subid in i19dict[edit_lang][id]" class="subid">
                    ID: <b>{{id}}[{{$index}}]</b><br/>
                    <span>{{display_lang}}: {{i19dict[display_lang][id][$index]}}</span><br/>
                    <textarea ng-model="i19dict[edit_lang][id][$index]" rows="1"></textarea>
                </div>
            </div>
        </div>
    </article>
    <footer>
        Press CTRL and click a string to translate
    </footer>
</div>
