<!doctype html>
<html ng-app="demo" lang="en" ng-controller="ctl">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
    <script src="../../i19.js"></script>
    <script src="i19dict.js"></script>
    <script src="demo.js"></script>
    <title>i19 demo</title>
  </head>
  <body>
      <div>
          <h1 i19>Welcome {{name}} @ {{ts()}}</h1>
          <i19>Current Language:</i19> {{$i19.get_lang()}}
          <br>
          <a i19-attr="title" title="Deutsch" ng-click="$i19.set_lang('de')">de</a>
          <a i19-attr="title link-title-english" title="English" ng-click="$i19.set_lang('en')">en</a>
          <br>
          <b i19><i>Name</i>:</b>
          <input type="text" ng-model="name" /> {{name}}
          <img title="title_test" alt="alt_test" i19-attr="title, alt img-alt">
          <hr>
          <p i19="para-continue">
            Click <a i19-name="link" ng-click="modal()" i19="link-continue">here<b>!</b></a> to <i></i>continue
          </p>
          <p i19>
          Trim padding
          </p>
          <pre i19="multi_line_id">Multi 
              Line</pre>
          <span i19="list">List:</span>
          <ul>
            <li ng-repeat="item in [1, 2, 3, 4]">
               <b i19="list">Liste:</b>{{item}} <i19>Index {{$index}}</i19>
            </li>
          </ul>
          <pre i19>
          Multi
          line without ID
          </pre>
          <button ng-click="modal()" i19>btn</button>
      </div>
  </body>
</html>
